---
const { class: className = '' } = Astro.props;
---

<span
  class:list={[
    className,
    'inline-flex items-center whitespace-nowrap font-bold tracking-tight text-neutral-800 dark:text-neutral-100',
  ]}
>
  FOLKS TEAM
</span>
